body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerText {
  font-family: "Kanit"!important;
  font-weight: bold!important;
  font-size: 23px!important;
  color: #797979!important;
}

.headerTextLogin {
  font-family: "Kanit"!important;
  font-weight: bold!important;
  font-size: 40px!important;
  color: #8295B1!important;
}

.headerTextLogin2 {
  font-family: "Kanit"!important;
  font-weight: bold!important;
  font-size: 25px!important;
  color: #8295B1!important;
}